{% extends 'base.html' %}

{% block content %}
    <div class="container d-flex justify-content-center mt-5 pt-4">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h2 class="card-title text-center mb-4">Регистрация</h2>
                    <form method="post" class="needs-validation text-center" novalidate>
                        {{ form.hidden_tag() }}

                        {% for field in form if field.name not in ['csrf_token', 'submit', 'remember_me'] %}
                            <div class="mb-3">
                                {{ field.label(class="form-label") }}
                                {{ field(class="form-control mx-auto", style="max-width: 300px;") }}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger mt-1 py-1 px-2"
                                         style="display: inline-block; font-size: 1.1rem;">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="mb-3">
                            {% if 'remember_me' in form %}
                                {{ form.remember_me(style='width: 1.25rem; height: 1.25rem;top:0.25rem') }}
                                {{ form.remember_me.label }}
                            {% endif %}
                        </div>

                        <div class="text-center">
                            {{ form.submit(class="btn btn-primary btn-lg") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}