{% extends 'base.html' %}

{% block content %}
    <div class="container d-flex justify-content-center mt-5">
        <div class="col-md-6">
            <form method="post" class="needs-validation text-center" novalidate>
                {{ form.hidden_tag() }}

                {% for field in form if field.name not in ['csrf_token', 'submit', 'remember_me'] %}
                    <div>
                        {{ field.label(class="form-label mb-3") }}
                        {{ field(class="form-control mx-auto", style="max-width: 300px;") }}
                        {% for error in field.errors %}
                            <div class="alert alert-danger mt-2" role="alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                {% if 'remember_me' in form %}
                    {{ form.remember_me() }}
                    {{ form.remember_me.label }}
                {% endif %}

                <div class="text-center">
                    {{ form.submit(class="btn btn-primary mt-3") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}